$side-padding: 2.5vw;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Noto Sans JP", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-weight: 700;
}

.section-title {
  h1 {
    font-size: 2.5em;
    padding-top: 90px;
    color: white;
    text-shadow: 1px 1px 0px #000000, -1px 1px 0px #000000, 1px -1px 0px #000000,
      -1px -1px 0px #000000, 1px 0px 0px #000000, 0px 1px 0px #000000,
      -1px 0px 0px #000000, 0px -1px 0px #000000;
    position: relative;
    &::before {
      z-index: -1;
      content: "";
      background-color: black;

      bottom: 8px;
      left: 0;

      width: 200px;
      height: 10px;

      position: absolute;
    }
  }
}

.logo-font {
  font-size: 2rem;
}

.section-about {
  font-weight: bold;
  p {
    line-height: 0px;
    display: inline-block;
  }
}

.home-header {
  height: 100vh;
  width: 100%;
  background-color: #9f9f9f;
  margin-bottom: 60px;
}

.header-title {
  z-index: 10;
  position: absolute;
  left: 5%;
  bottom: 4%;
  h2 {
    font-size: 36px;
    line-height: 40px;
    background-color: white;

    margin-bottom: 5px;
  }
  h2:nth-of-type(1) {
    width: 185px;
  }
  h2:nth-of-type(2) {
    width: 110px;
  }
  h2:nth-of-type(3) {
    width: 216px;
  }
}

.scroll-header-bar {
  cursor: pointer;
  position: absolute;
  right: 10%;
  bottom: 0;
  .bar {
    content: "";
    width: 40px;
    height: 162px;
    background-color: black;

    right: 30%;
  }
  p {
    position: absolute;
    top: 15px;
    left: -39px;
    font-size: 40px;
    transform: rotate(-270deg);
    line-height: 22px;
    color: white;
  }
}

.layout {
  padding: 0 $side-padding;
}

.description {
  position: relative;
  margin-top: 15px;
  letter-spacing: -0.5px;
  font-size: 0.95rem;

  .description-logo {
    width: 98vw;
    height: 25vw;

    opacity: 0.1;
    left: -1vw;
    top: -110px;
    position: absolute;
  }
  span {
    background-color: black;
    color: white;
  }
}

.members {
  margin-top: 30px;
  line-height: 35px;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 60px;
  .scroll-bar {
    cursor: pointer;
    .bar {
      content: "";
      position: absolute;
      top: -2px;
      right: 15%;
      width: 9px;
      height: 100%;
      background-color: black;
    }
    p {
      position: absolute;
      top: 0;
      left: calc(85% - 36px);
      font-size: 36px;
      transform: rotate(-270deg);
      line-height: 22px;
    }
  }
}

.authors-table {
  width: 300px;
  line-height: 30px;

  .author {
    display: flex;
    span:nth-child(1) {
      flex: 2;
    }
    span:nth-child(2) {
      flex: 3;
    }
  }
}

.news-contents {
  .news {
    width: 266px;
    height: 83px;
    margin-top: 40px;
    border: black solid 0.5px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    text-shadow: 0.75px 0.75px 0px #000000, -0.75px 0.75px 0px #000000,
      0.75px -0.75px 0px #000000, -0.75px -0.75px 0px #000000,
      0.75px 0px 0px #000000, 0px 0.75px 0px #000000, -0.75px 0px 0px #000000,
      0px -0.75px 0px #000000;
  }
}

.work-wrapper {
  width: 90vw;
  margin: auto auto;
}

.opus-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.opus {
  padding: 5px;
  width: calc((100% - 10 * 2px) / 2);
  background-color: #fff;

  cursor: pointer;

  .thumb-wrapper {
    position: relative;
  }

  .text-wrapper {
    p {
      margin: 0;
    }

    .text-title,
    .text-artist {
      font-weight: bold;
    }

    .text-title {
      font-size: 1.15rem;
      line-height: 20px;
    }

    .text-artist {
      font-size: 0.85rem;
    }

    .text-description {
      margin-top: 1rem;
      font-size: 0.75rem;
    }
  }
}

.opus-container {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  .image-wrapper {
    position: relative;
    span {
      position: unset !important;
    }
    .image {
      position: relative !important;
      width: 100% !important;
      height: unset !important;
    }
  }
}

.text-container {
  .text-title {
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .text-artist-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .text-social-link {
    margin-top: 0.5rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .social-link {
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
  }

  .text-description {
    margin-top: 0.5rem;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
    p {
      margin: 0.5rem 0;
    }
  }
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  .inputs {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    font-weight: 400;

    .name-input {
      border: 1px solid black;
      border-bottom: initial;
      border-radius: initial;
      margin: 0;
      padding: 7px;
    }

    .text-input {
      border: 1px solid black;
      border-top: initial;
      border-radius: initial;
      margin: 0;
      padding: 7px;

      resize: auto;
      max-height: 1000px;
      font-weight: 400;
    }
  }
  .submit-btn {
    width: 20px;
    height: 20px;
    margin: auto auto 5px auto;

    background-image: url("/submitBtn.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.comment-title {
  font-weight: 700;
  padding-top: 15px;
  border-top: black solid 1.5px;
}

.comment {
  font-size: 10px;
  margin: 1rem 0;

  div:nth-child(1) {
    margin-bottom: 3px;
  }
  div:nth-child(2) {
    font-weight: 400;
    line-height: 12px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (min-width: 768px) {
  .header-title {
    display: none;
  }
  .scroll-header-bar {
    bottom: 0;
    .bar {
      content: "";
      width: 45px;
      height: 256px;

      right: 30%;
    }
    p {
      top: 30px;
      left: -47px;
      font-size: 48px;
    }
  }

  .opus-wrapper {
    gap: 35px;
  }
  .opus {
    width: calc((100% - 35 * 4px) / 4);
  }

  .description-logo {
    top: -150px !important;
    left: 0 !important;
    width: 75vw !important;
  }

  .scroll-bar {
    .bar {
      width: 15px !important;
      right: 10% !important;
    }
    p {
      position: absolute;
      top: 3% !important;
      left: calc(90% - 70px) !important;
      font-size: 70px !important;
      line-height: 22px;
    }
  }

  .work-wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .opus-container {
      width: 42.5vw;
      margin-top: 20px;
    }
    .other-container {
      width: 42.5vw;
      .text-container {
        .text-artist-info {
          display: initial;
        }
        .text-social-link {
          margin-bottom: 45px;
        }
      }
      .comment-title {
        border-top: initial;
        margin-top: 140px;
      }
    }
  }
}
