// .main {
//   min-height: 100vh;
//   padding: 4rem 0;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1rem !important;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

// ヘッダーメニュー

.headerMenu {
  position: sticky;
  top: 10px;
  margin-left: -2.5vw;
  z-index: 10;
  width: 100vw;
  .headerWrapper {
    .headerBar {
      margin-top: 10px;
      height: 62px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: 0.5s;
      .titleLogo {
        cursor: pointer;
        margin-left: 2.5vw;
        width: 129px;
      }
      .pcScrollBtns {
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        margin-right: 75px;
      }
      .hamburgerWrapper {
        border: solid 1px black;
        background-color: white;
        border-radius: 18px 0px 0px 18px;
        border-right: 1px solid white;
        width: 60px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        .hamburger {
          z-index: 15;
          position: relative;
          width: 26px;
          height: 23px;
          cursor: pointer;
          display: inline-block;
          box-sizing: border-box;
          margin-left: 5px;
          span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: black;
            border-radius: 2px;
            display: inline-block;
            transition: all 0.5s;
            box-sizing: border-box;
          }
          span:nth-of-type(1) {
            top: 0;
          }
          span:nth-of-type(2) {
            top: 10px;
          }
          span:nth-of-type(3) {
            bottom: 0;
          }
        }
      }
      .openHamburger {
        span:nth-of-type(1) {
          transform: translateY(10px) rotate(-45deg);
        }
        span:nth-of-type(2) {
          opacity: 0;
        }
        span:nth-of-type(3) {
          transform: translateY(-10px) rotate(45deg);
        }
      }
    }
    .headerContent {
      z-index: 10;
      position: fixed;
      top: 0;
      right: 0;
      width: 0vw;
      height: 100vh;
      background-color: white;
      transition: 0.4s;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: scroll;
      .borderTop {
        position: absolute;
        top: 20px;
        width: 100vw;
        height: 1px;
        background-color: black;
      }
      .borderBottom {
        position: absolute;
        bottom: 20px;
        width: 100vw;
        height: 1px;
        background-color: black;
      }
      .scrollBtnWrapper {
        width: 100%;
        margin-top: 20px;
        .scrollBtn {
          margin: 80px 35px;
          font-weight: bold;
          font-size: 36px;
          line-height: 45px;
        }
      }
    }
    .openContent {
      width: 100vw;
    }
  }
}

.openHeader {
  position: fixed;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .headerBar {
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    background-color: white;

    .pcScrollBtns {
      display: flex !important;
    }
    .hamburgerWrapper {
      display: none !important;
    }
  }
}

// ヘッダーメニュー
